{{- partial "header.html" . }}
<div class="hmdl-list mdl-grid">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__media mdl-color-text--grey-50">
            <h3>{{ title .Params.name }}</h3>
        </div>
        <div class="hmdl-page-content mdl-color-text--grey-700 mdl-card__supporting-text">
            {{ .Content }}
        </div>
        <!-- separate content from pages with one empy entry  -->
        <div class="mdl-card__list-item mdl-color-text--grey-600"></div>
        {{- partial "pagination.html" }}
        {{- range .Paginator.Pages }}
        <!-- These are pages matching the taxonomy, so these properties are calculated on each page -->
        <!-- at the moment, they're mostly projects -->
        <!-- These section spacers are not really doing anything -->
        <div class="section-spacer"></div>
        <div class="mdl-card__list-item mdl-color-text--grey-600">
            <div class="hmdl-page-meta">
                <a href="{{ .RelPermalink }}"><h5 class="mdl-color-text--grey-600">{{ title .Name }}</h5></a>
                <div>
                    <!-- <em>{{ .Params.author.name }}</em> -->
                </div>
                <!-- {{ .Params }} -->
            </div>
        </div>
        {{- end }}
        {{- partial "pagination.html" }}
    </div>
</div>
<!-- link to all terms -->
<nav class="mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
    {{ $taxoURL := .Data.Plural }}
    <a href="{{ $taxoURL | absURL }}">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
        <i class="icon ion-android-arrow-back"></i>
        </button>
        Back to all {{ $taxoURL | title }}
    </a>
</nav>
{{ partial "footer.html" . }}
