{{- partial "header.html" . }}
<!-- since otherwise I get "peoples..." -->
{{ $titleOverride := "People" }}
<div class="hmdl-list mdl-grid">

    {{- range .Paginator.Pages }}
            {{ partial "people-tile" . }}
        <!-- <div class="mdl-card__list-item mdl-color-text--grey-600"> -->
            <!-- <div class="hmdl-page-meta"> -->
                <!-- {{- with .Params.author.image }} -->
                <!-- we could add each people's picture instead -->
                <!-- <div class="minilogo" style="background-image: url('{{ . | relURL }}');"></div>
                {{- end }}
                <div>
                    <strong><a href="{{ .Params.author.website }}">{{ .Params.author.name }}</a></strong>
                </div>
                <a href="{{ .RelPermalink }}"><h5 class="mdl-color-text--grey-600">{{ title .Params.name }}</h5></a>
            </div>
        </div> -->
    {{- end }}
</div>
{{ partial "footer.html" . }}
