{{- partial "header.html" . }}
<!-- since otherwise I get "peoples..." -->
{{ $titleOverride := "People" }}
<div class="hmdl-list mdl-grid">
    <div class="mdl-card mdl-shadow--4dp mdl-cell--12-col">
        <div class="mdl-card__media mdl-color-text--grey-50">
            <h3>{{ $titleOverride }}</h3>
        </div>
        <div class="hmdl-page-content mdl-color-text--grey-700 mdl-card__supporting-text">
            {{ .Content }}
            <!-- {{ range .Pages }} -->
                <!-- NAME IS: {{ .Params.description }} -->
            <!-- {{ end }} -->
        </div>
        {{- partial "pagination.html" }}
        {{- range .Paginator.Pages }}
        <div class="mdl-card__list-item mdl-color-text--grey-600">
            <div class="hmdl-page-meta">
                {{- with .Params.author.image }}
                <!-- we could add each people's picture instead -->
                <div class="minilogo" style="background-image: url('{{ . | relURL }}');"></div>
                {{- end }}
                <div>
                    <strong><a href="{{ .Params.author.website }}">{{ .Params.author.name }}</a></strong>
                </div>
                <a href="{{ .RelPermalink }}"><h5 class="mdl-color-text--grey-600">{{ title .Params.name }}</h5></a>
            </div>
        </div>
        {{- end }}
        {{- partial "pagination.html" }}
    </div>
</div>
{{ partial "footer.html" . }}
