<!-- Make a card view for each collaborator -->
{{ $tileColor := .Params.color_md }}

<div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--2dp project-card">
    <div class="mdl-card__media mdl-color-text--grey-50 mdl-color--{{ $tileColor }}"
         style="{{with .Params.cardthumbimage}}background: url('{{ . | relURL }}'); background-size: cover;{{end}}{{with .Params.cardbackground}}background-color:{{.}};{{end}}">
    <!-- <div class="mdl-card__media mdl-color-text--grey-50 mdl-color--{{ $tileColor }}"> -->
        <div class="project-title"><a href="{{ .RelPermalink }}" {{ with .Params.cardtitlecolor }}style="color:{{.}};"{{end}}>{{ title .Params.name }}</a></div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <!-- <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ .RelPermalink }}">More Info</a> -->
        {{ partial "taxonomy-buttons" (dict "page" . "tax" "initiatives" "variant" "simple") }}
        {{ partial "taxonomy-buttons" (dict "page" . "tax" "awards" "variant" "icon") }}
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-layout-spacer"></div>
        
        {{- with .Params.repo }}
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect icon-button" href="{{.}}" aria-label="Project Repository" title="Project Repository"><i class="material-icons_2x icon ion-social-github"></i></a>
        {{- end }}
        <!-- {{ partial "taxonomy-buttons" (dict "page" . "tax" "initiatives") }} -->
        <!-- {{ partial "taxonomy-buttons" (dict "page" . "tax" "topics") }} -->
        {{- with .Params.web }}
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect icon-button" href="{{.}}" aria-label="Project Website" title="Project Website"><i class="material-icons_2x icon ion-link"></i></a>
        {{- end }}
    </div>
</div>
